.order-wrap{
    width: 100%;
    height: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
}
.order-box{
    width: 40%;
    height: 50%;
    box-shadow: 0px 0px 15px 1px #cfc5c5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-container{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.order-title{
    font-size: 2rem;
    font-weight: 400;
}
.inpName-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.inputShort{
    height: 35px;
	background-color:  #e9e9e9;
	border: none;
	outline: none;
	box-shadow: 0px 3px 5px 2px #ffffff;
	/* border-radius: 5px; */
	border: none;
}
.halfI{
    width: 45%;
}
.btnB-wrapper{
    display: flex;
    justify-content: center;
}
.btnBuy{
    width: 120px;
    height: 30px;
    font-size: 18px;
    border: solid #e9e9e9 1px;
    display:flex ;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
}
.btnBuy:hover{
    cursor: pointer;
    color: black;
    background-color: #fffefb;
}
.btnBuy:active{
    background-color: #020202;
    color: #ffffff;
}

@media (max-width: 1100px) {
    .order-box{
        width: 55%;
        height: 60%;
        box-shadow: 0px 0px 15px 1px #cfc5c5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .inpName-wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
    } */
} 
@media (max-width: 660px) {
    .order-box{
        width: 85%;
        height: 75%;
        box-shadow: 0px 0px 15px 1px #cfc5c5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}