.cart{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-wrap{
    width: 85%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}
.cart-table{
    width: 80%;
    overflow: auto;
}
.cart-table::-webkit-scrollbar{
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: solid 1px black;
  }
  th{
    background-color: #e3e3e3;
  }
.garbage{
    font-size : 25px;
    cursor: pointer;
}

.btn-n-wrap{
    display: flex;
    align-items: flex-end;
}
.nextbtn{
    width: 120px;
    height: 30px;
    font-size: 18px;
    border: solid #cfcecc 1px;
    display:flex ;
    align-items: center;
    justify-content: center;
    background-color: #edecea;
    font-weight: 660;
}
.nextbtn:hover{
    cursor: pointer;
    color: black;
    background-color: #fffefb;
}
.nextbtn:active{
    color: rgb(255, 255, 255);
    background-color: #010000;
}
@media (max-width: 1000px) {

} 
@media (max-width: 500px) {
    .cart-wrap{
        width: 85%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cart-table{
        width: 96%;
        height: 85%;
    }
} 
  /* tr:nth-child(even) {background-color: #f2f2f2;} */