.bookcard{
    width: 300px;
    height: 200px;
    margin: 2%;
    background: radial-gradient(#faf9fb,#faf9fb,#faf9fb, #ece5e5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}
.bookc-wrapper{
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
}
.bookcard:hover{
    background: radial-gradient(#faf9fb,#faf9fb, #e9e9e9);
    box-shadow: 0px 3px 5px 5px #e6dede;
}
.bcart-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-book{
    width: 95%;
    display: flex;
    justify-content: space-between;
}